.height-xl{
    min-height: 400px;
    max-height: 400px;
}

.height-lg{
    min-height: 300px;
    max-height: 300px;
}

.height-md{
    min-height: 260px;
}

/*superscript tag - appears adjust to a heading*/
.ss-heading{
    margin: 0;
}

.ss-tag{
    font-size: 14px;
    line-height: 27px;
}

.red--text{
    color: #e74c3c;
}

p.tagline{
    font-size: 16px;
    margin: 0;
    padding: 0;
}